* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(226,33,33);
    background: radial-gradient(circle, rgba(226,33,33,1) 1%, rgba(232,8,8,1) 100%);
    font-family: 'Raleway', sans-serif;
}

.photo-principal {
    width: 70px;
    border-radius: 50%;
    border: 4px double white;
    box-shadow: 1px 1px 3px white;
    
}

.profile {
    text-align: center;
    font-family: 'Alegreya', serif;
    letter-spacing: -2px;
}

.box li {
    text-align: center;
    padding: 10px 20px;
    margin: 20px;
    background: white;
    border-radius: 20px; 
    list-style: none;
}

.box img {
    width: 20px;
}

.box li a {
    text-decoration: none;
    color: black;
}